<template name="readCSV">
  <div class="col-md-6">
    <div class="form-group code-group">
      <label>Paste your CSV here</label>
      <textarea id="csv" class="form-control" rows="15"></textarea>
    </div>
    <button id="convert" type="submit" class="btn btn-primary js-btnReadCsv">
      <i class="glyphicon glyphicon-chevron-right"></i> Convert
    </button>
    <button id="clear" type="submit" class="btn js-cleanUp">
      <i class="glyphicon glyphicon-remove"></i> Clear
    </button>
  </div>
</template>
