<template name="chatRoom">
  {{#if currentUser}}
  <div class="row">
    <div class="col-md-offset-1 col-md-6 well">
      {{> messages}}
      <div align="right" class="inputField">
        {{> input}}
      </div>
    </div>
    <div class="col-md-offset-1 col-md-3 well">
      {{> rooms}}
    </div>
  </div>
  {{else}}
  <div class="jumbotron">
    <div class="container">
      <h1>Welcome to Meteor Chat Room!</h1>
      <br>
      <p class="text-center"><a class="btn btn-success btn-lg" href="#" role="button">Please sign in to get started!</a></p>
    </div>
  </div>
  {{/if}}
</template>
